<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>821020032702-719n2bc2tuj8o2g8v03mh9cklrvquogt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.821020032702-719n2bc2tuj8o2g8v03mh9cklrvquogt</string>
	<key>API_KEY</key>
	<string>AIzaSyBbMz977ww89dpxIBFWzM4wXhEzbt4Fb-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>821020032702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crewchat</string>
	<key>PROJECT_ID</key>
	<string>crewchat-5f02c</string>
	<key>STORAGE_BUCKET</key>
	<string>crewchat-5f02c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821020032702:ios:dfc4a58b6447bc767fa8ef</string>
</dict>
</plist>